*.so
*.o
COPYING
INSTALL
*Makefile
*Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/libspag.la
src/machine.lo
src/rule.lo
src/spag.lo
src/stamp-h1
src/state.lo
